<script src='~/lib/jquery/dist/jquery.min.js'></script>
<script src='~/lib/fullcalendar/index.global.min.js'></script>
<script src='~/js/fullcalendar.js'></script>

<div class="p-4">
    <div id="calendar"></div>
</div>