@model AdminAnnouncement

<h3 class="text-center">Edit Annoucement</h3>
<div class="d-flex justify-content-center">
    <div class="border border-1 rounded p-3 col-10">
        <p class=" mb-3">Edit Announcement #@Model.Id</p>
        <form method="post" class="form-control">
            <input asp-for="Title" class="form-control mt-3" placeholder="Title" style="width: 300px;" />
            <span asp-validation-for="Title" class="text-danger"></span>
            <textarea asp-for="Description" class="form-control mt-3" placeholder="Content"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="row justify-content-end mt-3">
                <div class="col-2"><button class="form-control btn btn-primary">Post</button></div>
                <div class="col-2"><button type="submit" class="form-control btn btn-danger">Clear</button></div>
            </div>


            <input asp-for="ApplicationUserId" class="form-control mt-3" placeholder="ID" style="width: 100px;" />
            <input asp-for="Id" class="form-control mt-3" placeholder="ID" style="width: 100px;" />
            <input asp-for="DatePosted" class="form-control mt-3" placeholder="ID" style="width: 100px;" />
        </form>
    </div>
</div>